[submodule "icecream-cpp"]
	path = icecream-cpp
	url = https://github.com/renatoGarcia/icecream-cpp
[submodule "qcustomplot"]
	path = qcustomplot
	url = https://github.com/legerch/QCustomPlot-library
[submodule "doxygen_awesome"]
	path = .extra/doxygen/theme
	url = https://github.com/jothepro/doxygen-awesome-css.git
